<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingluo.jingluo.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.jingluo.jingluo.entity.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="is_admin" jdbcType="CHAR" property="isAdmin" />
    <result column="student_code" jdbcType="VARCHAR" property="studentCode" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="reserved_1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved_2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved_3" jdbcType="VARCHAR" property="reserved3" />
  </resultMap>

  <select id="selectById"  resultMap="BaseResultMap">
    select * from student where student_id = #{id}
  </select>

  <select id="selectByCode" parameterType="String" resultMap="BaseResultMap">
    select * from student where student_code = #{userCode}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from student
  </select>

  <select id="selectBindPhone" resultMap="BaseResultMap">
    select * from student
    where phone = #{phone}
  </select>

  <insert id="insert" parameterType="com.jingluo.jingluo.entity.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Apr 12 14:02:13 CST 2020.
    -->
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="studentCode != null">
        student_code,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="reserved1 != null">
        reserved_1,
      </if>
      <if test="reserved2 != null">
        reserved_2,
      </if>
      <if test="reserved3 != null">
        reserved_3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=CHAR},
      </if>
      <if test="studentCode != null">
        #{studentCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        #{reserved3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.jingluo.jingluo.entity.Student">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Apr 12 14:02:13 CST 2020.
    -->
    update student
    <set>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=CHAR},
      </if>
      <if test="studentCode != null">
        student_code = #{studentCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="reserved1 != null">
        reserved_1 = #{reserved1,jdbcType=VARCHAR},
      </if>
      <if test="reserved2 != null">
        reserved_2 = #{reserved2,jdbcType=VARCHAR},
      </if>
      <if test="reserved3 != null">
        reserved_3 = #{reserved3,jdbcType=VARCHAR},
      </if>
    </set>
    where student_code = #{studentCode,jdbcType=VARCHAR}
  </update>
</mapper>